@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100 selection:bg-cyan-500/30 selection:text-cyan-100;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors border-2 border-zinc-950;
}

/* Utility for hiding scrollbar but keeping functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
